/*
  =====================================
  Navigation Pane
  =====================================
*/
.navbar {
	background-color: #fff;
	height: 70px;
	margin: 0 0 10px 0;
	border-style: none;
}

.navbar-brand {
	margin: 0;
	padding: 0;
}

#logo {
	height: 80px;
	margin: 0;
	padding: 0;
}

.nav {
	padding-top: 15px;
	padding-bottom: auto;
}

#activeButton {
	background-color: #e7e7e7;
	border-radius: 5px;
}

.navButton:hover {
	background-color: #00ace8;
	border-radius: 5px;
}

/*
  =====================================
  General Custom Styles
  =====================================
*/

body {
	font-family: 'Raleway', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#bigContainer {
	border-style: solid;
	border-width: 2px;
	border-color: #009796;
	min-height: 80%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto;
	/* Pad bottom by footer height */
	padding: 0px;
	border-radius: 5px;
}

/*Location Page*/
.row {
	margin-left: 60px;
	margin-top: 50px;
}
.col-md-3 {
	margin-left: 20px;
}

/*
  =====================================
  Footer
  =====================================
*/
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Set the fixed height of the footer here */
#footer {
  height: 10%;
  background-color: #fff;
}

/* Left Side weather */
.weatherDiv {
	float: left;
	width: 42%;
	margin-top: 10px;
}

/* Centered footer text */
.copyrightDiv {
	float: left;
	width: 33%;
	margin-top: 10px;
}

#footer-text {
	float: left;
}

/* Social Media */
.socialMediaDiv {
	float: right;
	width: 25%;
	margin-top: 5px;
}

.socialMediaImages {
	height: 40px;
	float: right;
}

/*
  =====================================
  Index.html image carousel
  =====================================
*/
.fadingDogPics {
	margin: 0;
	padding-left: 25%;
	padding-right: 25%;
}

.stick-track {
	padding-left: auto;
	padding-right: auto;
}

.carouselImage {
	width: 100%;
	height: 100%;
	max-width: 600px;
}
.slick-dots {
	width: 50%;
}

/*
  =====================================
  Location Page
  =====================================
*/
#navigationPage {
	padding: 0;
	margin: 0;
}

.locationInfo {
	width: 400px;
	display: inline-block;
	float: right;
	padding: 0;
	margin-top: 30px;
	margin-right: 5%;
}

p {
	margin: 0;
}

.panel-heading {
	padding: 5px 10px 5px 10px;
	margin: 0;
}

.panel-body {
	padding: 5px 10px 5px 10px;
	margin: 0;
}

.form-horizontal {
	padding: 5px 10px 5px 10px;
	margin: 0px 5px;
}

#inputMessage {
	height: 114px;
}

#submitButton {
	color: #777;
	background-color: #e7e7e7
}

#submitButton:hover {
	background-color: #00ace8;
	color: #333;
}

/*
  =====================================
  Location Page: Map
  =====================================
*/
#map {
	width: 600px;
	height: 450px;
	background-color: #333;
	padding: 0;
	margin-top: 30px;
	margin-left: 5%;
	display: inline-block;
	float: left;
	/*position: absolute;*/
}

/*
	===========================
	Amenities Gallery CSS
	===========================
*/

.photoGallery{
	width:100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 15px;
}

.topGalleryImg{
	display: inline;
	height: 100%;
	width: 100%;
}

.photoGallery div{
	overflow: none;
}

/*
	=======================
	Burger Menu CSS
	=======================
*/

.burgerMenu{
	background-color: #ddd;
	float:right;
	border-radius:4px;
}

.burgerMenu ul{
	list-style-type: none;
	padding-left:10px;
	padding-right:10px;
	margin-top:10px;
	margin-bottom:10px;
}

.burgerMenu li {
	color:black;
}

/*
	======================
	Media Queries
	======================
*/

/* using footer temporarily to let you know which media width is taking effect */
@media(max-width:992px){
	#footer{
		background-color: #6b9;
	}
	/* STYLE HERE */

} /* end 769px-992px */

@media(max-width: 768px){
	#footer{
		background-color: #59a;
	}
		/* STYLE HERE */

	} /* End 481-768px */

@media(max-width: 480px){

	#footer{
		background-color: #a35;
	}
	/* STYLE HERE */

} /* End < 480px */




