/*
  =====================================
  Navigation Pane
  =====================================
*/
.navbar {
	background-color: #fff;
	height: 70px;
	margin: 0 0 10px 0;
	border-style: none;
}

.navbar-brand {
	margin: 0;
	padding: 0;
}

#logo {
	height: 80px;
	margin: 0;
	padding: 0;
}

.nav {
	padding-top: 15px;
	padding-bottom: auto;
}

#activeButton {
	background-color: #e7e7e7;
	border-radius: 5px;
}

.navButton:hover {
	background-color: #00ace8;
	border-radius: 5px;
}

/*
  =====================================
  General Custom Styles
  =====================================
*/

body {
	font-family: 'Raleway', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#bigContainer {
	border-style: solid;
	border-width: 2px;
	border-color: #009796;
	min-height: 80%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto;
	/* Pad bottom by footer height */
	padding: 0px;
	border-radius: 5px;
}

/*Location Page*/
.row {
	margin-left: 60px;
	margin-top: 50px;
}
.col-md-3 {
	margin-left: 20px;
}
socialMediaImages
/*
  =====================================
  Footer
  =====================================
*/
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Set the fixed height of the footer here */
#footer {
  height: 10%;
  background-color: #fff;
}

/* Left Side weather */
.weatherDiv {
	float: left;
	width: 42%;
	margin-top: 10px;
}

/* Centered footer text */
.copyrightDiv {
	float: left;
	width: 33%;
	margin-top: 10px;
}

#footer-text {
	float: left;
}

/* Social Media */
#socialMediaIcons {
	float: right;
	margin: 0;
	padding: 0;
	width: 128px;
}
.socialMediaDiv {
	float: right;
	width: 25%;
	margin-top: 5px;
}

.socialMediaImages {
	height: 40px;
	float: right;
}

/*
  =====================================
  Index.html image carousel
  =====================================
*/
.fadingDogPics {
	margin: 0;
	padding-left: 25%;
	padding-right: 25%;
}

.stick-track {
	padding-left: auto;
	padding-right: auto;
}

.carouselImage {
	width: 100%;
	height: 100%;
	max-width: 600px;
}
.slick-dots {
	width: 50%;
}

/*
  =====================================
  Home Page(index.html) Styling
  =====================================
*/
.paragraphDogIcon {
	height: 60px;
	display: block;
    margin: 0 auto;
}

/*
  =====================================
  Location Page
  =====================================
*/

#navigationPage {
	padding: 0;
	margin: 0;
}

.locationInfo {
	max-width: 260px;
	min-width: 200px;
	width: 30%;
	display: inline-block;
	float: right;
	padding: 0;
	padding-right:20px;
	margin-top: 30px;
	margin-right: 3%;
	margin-left: 2%;
}

p {
	margin: 0;
}

.panel-heading {
	padding: 5px 10px 5px 10px;
	margin: 0;
}

.panel-body {
	padding: 5px 10px 5px 10px;
	margin: 0;
}

.form-horizontal {
	padding: 5px 10px 5px 10px;
	margin: 0px 5px;
}

#inputMessage {
	height: 114px;
}

#submitButton {
	color: #777;
	background-color: #e7e7e7
}

#submitButton:hover {
	background-color: #00ace8;
	color: #333;
}

/*
  =====================================
  Location Page: Map
  =====================================
*/
#map {
	max-width: 600px;
	max-height:480px;
	width: 56%;
	height: 56%;
	background-color: #333;
	padding: 0;
	margin-top: 30px;
	margin-left: 3%;
	margin-right: 6%;
	display: inline-block;
	float: left;
	position: absolute;
}

/*
	===========================
	Amenities Gallery CSS
	===========================
*/

.photoGallery{
	width:100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 15px;
}

.topGalleryImg{
	display: inline;
	height: 100%;
	width: 100%;
}

.photoGallery div{
	overflow: none;
}

/* Amenities h3 indent */
#amenitiesLists h3{
	padding-left: 15px;
}

/*
	=======================
	Burger Menu CSS
	=======================
*/

.burgerMenu{
	background-color: #ddd;
	float:right;
	border-radius:4px;
	position: absolute;
	z-index: 9;
	right:0;
}

.burgerMenu ul{
	list-style-type: none;
	padding-left:10px;
	padding-right:10px;
	margin-top:10px;
	margin-bottom:10px;
}

.burgerMenu li {
	color:black;
}
/* 
	======================
	Reservation Style
*/
#onHold {
	/*background-color: #666;*/
	width: 400px;
	height: 275px;
	border-left: 100px;
	/*float: right;*/
}


.dateSub{
	margin-bottom: 250px
}

.reservationBox
    {
    display: block;
    /*background-color: rgb(200, 200, 200);*/
    width: 200px;
    float: left;
    padding: 10px;
    border-bottom: 300px, solid, #fff;
    }

.title
    {
    font-weight: bold;
    }

/*
	======================
	Media Queries
	======================
*/

/* using footer temporarily to let you know which media width is taking effect */
@media(max-width:992px){
	#footer{
		background-color: #6b9;
	}
	.weatherDiv {
		width: 100%;
		display: inline-block;
		text-align: center;
	}
	.copyrightDiv {
		width: 100%;
		display: inline-block;
		text-align: center;
	}
	.socialMediaDiv {
		width: 100%;
		display: inline-block;
		margin: 0 auto;
	}
	#footer-text {
		float: none;
	}
	.socialMediaImages {
		float: none;
		display: inline-block;
		margin: 0 auto;
	}
	#socialMediaIcons {
		margin: 0 auto;
		padding: 0;
		width: 128px;
	}
	.topGalleryImg{
		max-width: 326px;
	}
	.imageCol{
		display: inline-block;
		padding-bottom: 15px;
	}
	.placeColumn{
		display: none;
	}
	#map{
		width:46%;
	}

} /* end 769px-992px */

@media(max-width: 768px){
	#footer{
		background-color: #59a;
	}
	.weatherDiv {
		width: 100%;
		display: inline-block;
		text-align: center;
	}
	.copyrightDiv {
		width: 100%;
		display: inline-block;
		text-align: center;
	}
	.socialMediaDiv {
		width: 100%;
		display: inline-block;
		margin: 0 auto;
	}
	#footer-text {
		float: none;
	}
	.socialMediaImages {
		float: none;
		display: inline-block;
		margin: 0 auto;
	}
	#socialMediaIcons {
		margin: 0 auto;
		padding: 0;
		width: 128px;
	}

	.photoGallery{
		display:block;
	}

	.topGalleryImg{
		max-width: 999px;
	}

	.imageCol{
		margin: 0 10%;
		width:80%;
		padding-bottom: 15px;
	}

	.placeColumn{
		display: none;
	}

	/* having problems from here */

	.locContentDiv{
		width:100%;
		display:block;
	}

	#map{
		width:100%;
	}

	.locationInfo{
		float:none;
		display:inline;
	}
	/* until here */

	} /* End 481-768px */

@media(max-width: 480px){

	#footer{
		background-color: #a35;
	}
	.weatherDiv {
		width: 100%;
		display: inline-block;
		text-align: center;
	}
	.copyrightDiv {
		width: 100%;
		display: inline-block;
		text-align: center;
	}
	.socialMediaDiv {
		width: 100%;
		display: inline-block;
		margin: 0 auto;
	}
	#footer-text {
		float: none;
	}
	.socialMediaImages {
		float: none;
		display: inline-block;
		margin: 0 auto;
	}
	#socialMediaIcons {
		margin: 0 auto;
		padding: 0;
		width: 128px;
	}

} /* End < 480px */




