/*
  =====================================
  Navigation Pane
  =====================================
*/
.navbar {
	background-color: #fff;
	height: 70px;
	margin: 0 0 10px 0;
	border-style: none;
}

.navbar-brand {
	margin: 0;
	padding: 0;
}

#logo {
	height: 80px;
	margin: 0;
	padding: 0;
}

.nav {
	padding-top: 15px;
	padding-bottom: auto;
}

.navbar-nav>.active>a {
	background-color: blue;
}

/*
  =====================================
  General Custom Styles
  =====================================
*/
#bigContainer {
	border-style: solid;
	border-width: 1px;
	border-color: #333;
	min-height: 80%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/*Location Page*/
.row {
	margin-left: 60px;
	margin-top: 50px;
}
.col-md-3 {
	margin-left: 20px;
}

/*
  =====================================
  Footer
  =====================================
*/
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Set the fixed height of the footer here */
#footer {
  height: 10%;
  background-color: #fff;
}

/* Left Side weather */
.weatherDiv {
	float: left;
	width: 33%;
	margin-top: 10px;
}

/* Centered footer text */
.copyrightDiv {
	float: left;
	width: 33%;
	margin-top: 10px;
}

/*
  =====================================
  Map
  =====================================
*/
#map {
	width: 600px;
	height: 580px;
	background-color: #333;
}